* {
	margin: 0;
	padding: 0;
	font-family: helvetica;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#main {
	width: 210px;
	height: 395px;
	margin: 50px;
	background-color: #f1f1f3;
	border-radius: 30px;
}

#screen {
	width: 210px;
	height: 175px;
	background-color: #f1f1f3;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	position: relative;
	display: grid;
	justify-items: end;
    align-items: end;
}

#screen p {
	 text-align: right;
	 margin-right: 8%;
	 font-size: 36px;
	 color: #f9a011;
}

#keyboard {
	width: 210px;
	height: 220px;
	background-color: #f1f1f3;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	line-height: 30px;
}

.buttons {
	float: left;
	width: 100%;
	height: 20%;
}

.buttons ul {
	display: block;
	float: left;
	list-style-type: none;
	width: 100%;
}

.buttons ul li {
	color: #aaaaac;
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	margin-left: 11.25px;
	margin-right: 11.25px;
	text-align: center;
	border-radius: 50%;
	background-color: #f1f1f3;
	box-shadow: 1px 1px 1px 0px rgba(34, 60, 80, 0.2), -1px -2px 2px 0px rgba(255, 255, 255, 0.2);
}

#row_1 {
	margin-top: 7px;
}

#del, #division, #mult, #minus, #plus {
	display: block;
	color: white;
	background-color: #f9a011;
}

.buttons ul li:hover {
	background-color: #d6d6d8;
	cursor: pointer;
}

#del:hover, #division:hover, #mult:hover, #minus:hover, #plus:hover {
	background-color: #db7500;
	cursor: pointer;
}

.buttons ul li:active {
	box-shadow: 0px 0px 0px 0px rgba(34, 60, 80, 0.2), 0px 0px 0px 0px rgba(255, 255, 255, 0.2);
	background-color: #d6d6d8;
	cursor: pointer;
}

 #del:active, #division:active, #mult:active, #minus:active, #plus:active {
	box-shadow: 0px 0px 0px 0px rgba(34, 60, 80, 0.2), 0px 0px 0px 0px rgba(255, 255, 255, 0.2);
	background-color: #db7500;
	cursor: pointer;
}


